.myButton {
  /* min-width:  70px; */
  display: flex;
  max-width: 160px;
  height: 30px;
  border: gold;
  border: double;
  padding: 6px 10px;
  margin: 2px;
  border-radius: 35px;
  color: white;
  cursor: pointer;
}

.myButton:hover {
  background: #89d765;
}

.btnFavorite {
  align-items: center;
}

.butLogin-input {
  display: inline-flex;
  /* align-items: end; */
  /* justify-content: space-between; */
}
/* 
.button-effect-fire-animation {
  color: rgb(59, 87, 46);
  text-shadow: 8px 9px 15px;
  text-decoration: rgb(242, 234, 9);
  text-align: center;
  font-style: italic;

  font-family: "Times New Roman", Times, bold, serif;
} */
